<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Doctors</title>
    </head>
<body>
    <h2>Add Doctor</h2>
    <form method="post" action="{{ url_for('add_doctor') }}">
        <p><label for="name">Name:</label> <input type="text" name="name" id="name" placeholder="First Name" required></p>
        <p><label for="surname">Surname:</label> <input type="text" name="surname" id="surname" placeholder="Surname" required></p>
        <p><label for="email">Email:</label> <input type="email" name="email" id="email" placeholder="Email" required></p>
        <p><label for="username">Username:</label> <input type="text" name="username" id="username_add" placeholder="Username" required></p>
        <p><label for="password">Password:</label> <input type="password" name="password" id="password" placeholder="Password" required></p>
        <p><label for="appointment_cost">Appointment Cost:</label> <input type="text" name="appointment_cost" id="appointment_cost" placeholder="Appointment Cost" required></p>
        <p><label for="specialty">Specialty:</label>
          <select name="specialty" id="specialty" required>
            <option value="" disabled selected>Select Specialty</option>
            <option value="Radiologist">Radiologist</option>
            <option value="Hematologist">Hematologist</option>
            <option value="Allergist">Allergist</option>
            <option value="Pathologist">Pathologist</option>
            <option value="Cardiologist">Cardiologist</option>
          </select>
        </p>
 
        <p><input type="submit" value="Add Doctor"></p>
    </form>

    <p><a href="{{ url_for('admin_home') }}">Back to Home</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Doctors List</h3>
    <ul>
        {% for doctor in doctors %}
            <li>{{ doctor.name }} {{ doctor.surname }} - {{ doctor.specialty }} - Email: {{ doctor.email }} - Username: {{ doctor.username }} - Appointment Cost: {{ doctor.appointment_cost }}</li>
        {% endfor %}
    </ul>

</body>
</html>