<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Doctor's Password</title>
    </head>
<body>  
    <h2>Change Doctor's Password</h2>
    <form method="post" action="{{ url_for('change_doctor_password') }}">
        <p><label for="username">Doctor Username:</label> <input type="text" name="username" id="username_change" placeholder="Doctor Username" required></p>
        <p><label for="new_password">New Password:</label> <input type="password" name="new_password" id="new_password" placeholder="New Password" required></p>
        <p><input type="submit" value="Change Password"></p>
    </form>

    <p><a href="{{ url_for('admin_home') }}">Back to Home</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Doctors List</h3>
    <ul>
        {% for doctor in doctors %}
            <li>{{ doctor.name }} {{ doctor.surname }} - {{ doctor.specialty }} - Email: {{ doctor.email }} - Username: {{ doctor.username }} - Appointment Cost: {{ doctor.appointment_cost }}</li>
        {% endfor %}
    </ul>

</body>
</html>