<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete Doctors</title>
    </head>
<body>
    <h2>Delete Doctor</h2>
    <h3>To delete a Doctor's account please input the Doctor's username</h3>
    <form method="post" action="{{ url_for('delete_doctor') }}">
        <p><label for="doctor_username">Doctor Username:</label> <input type="text" name="doctor_username" id="doctor_username_delete" placeholder="Doctor Username" required></p>
        <p><input type="submit" value="Delete Doctor"></p>
    </form>
    <p><a href="{{ url_for('admin_home') }}">Back to Home</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Doctors List</h3>
    <ul>
        {% for doctor in doctors %}
            <li>{{ doctor.name }} {{ doctor.surname }} - {{ doctor.specialty }} - Email: {{ doctor.email }} - Username: {{ doctor.username }} - Appointment Cost: {{ doctor.appointment_cost }}</li>
        {% endfor %}
    </ul>

</body>
</html>