<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Appointments</title>
</head>
<body>
    {% if appointments %}
      <h2>Upcoming Appointments</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient Name</th>
                    <th>Patient Surname</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.patient_name }}</td>
                        <td>{{ appointment.patient_surname }}</td>
                        <td>{{ appointment.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No upcoming appointments.</p>
    {% endif %}
    <form action="{{ url_for('doctor_home') }}">
        <button type="submit">Back to Home</button>
    </form>
</body>
</html>
